### Ollama config
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=



### Gemini config
GEMINI_API_KEY=


### Anthropic config
ANTHROPIC_API_KEY=


### OpenAI config
OPENAI_API_KEY=


### Grok config
GROK_API_KEY=


### BraveAPI
BRAVE_API_KEY=

### Session persistence
ENABLE_SESSION_PERSISTENCE=true                                                                                                           
BRIEFBOT_DB_PATH=/path/to/briefbot/db

GHIDRA_HOME=/path/to/ghidra